<div style="width: 100%;height: 150px;"></div>
<div class="withdraw-box" style="text-align: center; height: 649px;">
	<p class="withdraw-title" style="font-size: 40px;font-weight: bold;padding-top: 70px;">本当に退会しますか？</p>
	<p class="withdraw-message" style="font-size: 25px;padding-top: 50px;">
		退会すると、会員登録情報や<br>
		これまでの購入履歴が閲覧できなくなります。<br>
		退会する場合は、「退会する」をクリックしてください。<br>
	</p>

	<div class="withdraw-btn-group" style="padding-top: 50px;">
		<%= link_to '退会しない', customers_path, class: "btn btn-primary btn-lg" %>
		<%= link_to '退会する', customers_withdraw_path(@customer), method: :patch, class: "btn btn-danger btn-lg" %>
	</div>
</div>