
<% if object.errors.any? %>
	<div id ="error_explanation">
		<div class="alert alert-danger">
			<h3><%= pluralize(object.errors.count, "件のエラーがあったため保存できませんでした。") %></h3>
			<ul>
				<% object.errors.full_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	</div>
<% end %>